/* Estilos básicos */
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* Estilo del encabezado (header) */

header {

    grid-area: header;

    display: flex;
    
    background: #4CAF50; 
    color: white; 
    padding: 1rem; 
    text-align: center; 
    justify-content: space-between; 
    align-items: center; 
}

/* Estilo de los enlaces del menú de navegación */
header nav a {
    margin: 0 1rem; /* Añade espacio horizontal entre los enlaces */
    color: white;    
    text-decoration: none;
}

/* Estilo para el logo */
.logo {
    width: 250px; 
    height: auto; 
    vertical-align: middle; 
    margin-right: 10px; 
    
}

/* Estilo para las imágenes en la lista de datos */
.data-icon {
    width: 200px; 
    height: auto; 
    margin-right: 8px; 
    vertical-align: middle;
}
/* Contenedor principal con Grid */
.container {    
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;



}







/* Asignación de áreas en el grid */
.sidebar-container{
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 0;
}

.sidebar {   

    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    background: #f0f0f0; /* Fondo gris claro */
    padding: 1rem; /* Espaciado interno */
    grid-area: sidebar;
    
}

/* Estilo de la lista del sidebar */
.sidebar ul {  
    padding: 0; 
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.sidebar ul li {
    margin-bottom: 1rem; 
    
}

.sidebar ul li a {
    text-decoration: none; 
    color: #333; 
}

main {
    padding: 1rem; 
    grid-area: main;
}

footer {
    background: #4CAF50; 
    color: white; 
    text-align: center; 
    padding: 1rem; 
    grid-area: footer;
    
}

/* Grid para la sección de categorías*/
.stats {   
    gap: 1rem; 
    margin-bottom: 2rem; 
    display: grid;
    grid-template-columns: repeat(3,1fr);    
}

/* Estilo de las cajas de categorías */
.stat-box {
    background: #e0e0e0; 
    padding: 1rem; 
    text-align: center; 
    border-radius: 8px; 
}

/* Flexbox para la lista de tipos de vivienda */
.data ul {
    gap: 1rem; 
    list-style: none; 
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    
}

.data ul li {
    background: #f4f4f4; 
    padding: 1rem; 
    border-radius: 4px; 
    text-align: center; 
}

@media (max-width:940px){

    .container{
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        
    }

    .stats{
        grid-template-columns: 1fr; /*para que las categorías sólo se
                                    apilen en una columna*/
    }

}

